{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<a href="{{ path('home') }}"><img class="mx-auto h-16 w-auto" src="imgs/logo.svg" alt="Logo"></a>
				<h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
					Register
				</h2>
			</div>
			{% for flashError in app.flashes('verify_email_error') %}
				<div class="alert alert-danger" role="alert">{{ flashError }}</div>
			{% endfor %}

			<div class="rounded-md shadow-sm">

				{{ form_start(registrationForm) }}

				{{ form_row(registrationForm.username) }}
				{{ form_row(registrationForm.birthDate) }}
				{{ form_row(registrationForm.facebookUrl) }}
				{{ form_row(registrationForm.twitterUrl) }}
				{{ form_row(registrationForm.email) }}
				{{ form_row(registrationForm.country) }}

				{{ form_row(registrationForm.plainPassword, {label: 'Password' }) }}
				<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
					Register
				</button>

				{{ form_end(registrationForm) }}
			</div>
		</div>
	</div>

{% endblock %}
{% use 'form_div_layout.html.twig' %}
{% form_theme registrationForm _self %}

{% block form_row %}
	<div class="mb-2">
		{{parent()}}
	</div>
{% endblock %}

{% block widget_attributes %}
	class="rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:border-indigo-500"
	{{parent()}}
{% endblock %}

{% block form_errors %}
	{%- if errors|length > 0 -%}
		<ul>
			{%- for error in errors -%}
				<li class="flex justify-center items-center m-1 font-medium py-1 px-2 bg-white rounded-md text-red-700 bg-red-100 border border-red-300 ">{{ error.message }}</li>
			{%- endfor -%}
		</ul>
	{%- endif -%}
{% endblock form_errors %}
