{% extends 'base.html.twig' %}

{% block title %}Hello {{ user.username }}!
{% endblock %}

{% block body %}

	<div class="bg-white shadow">
		<div class="container mx-auto px-4 py-2 md:py-3">
			<div class="flex justify-between items-center">
				<div class="text-lg md:text-xl font-bold text-gray-800">Hwackker</div>
				<a href="{{ path('logout') }}" class="block px-4 py-2 text-gray-600 hover:bg-gray-100 hover:text-blue-600">
					Logout
				</a>
			</div>
		</div>
	</div>

    <div class="container mx-auto px-4 py-10">
         <div class="flex items-center justify-center">
             <div class="w-12 h-12 rounded-full overflow-hidden">
                 <img src=""  alt="avatar">
             </div>
             <h1 class="font-bold text-3xl ml-4"> {{ user.username }} profile</h1>
         </div>
    </div>

	<div class="container mx-auto px-4 py-10">
		<div class="md:flex -mx-4">
			<div class="w-2/4 px-4">
				{% if app.user.id == user.id %}
					{{ include('hwack/_form.html.twig') }}
				{% endif %}

				<div class="bg-white rounded-lg shadow mb-8">
					{% for hwack in hwacks %}
					<div class="px-6 py-5 border-b border-gray-200 last:border-none">
						<div class="flex w-full">
							<div class="flex-shrink-0 mr-5">
								<div class="cursor-pointer font-bold w-12 h-12 bg-gray-300 flex items-center justify-center rounded-full overflow-hidden">
									<img src="" alt="avatar">
								</div>
							</div>
							<div class="flex-1">
								<div>
									<a href="/user?username={{ user.username }}" class="text-gray-600 font-bold"></a>
									<span class="mx-1 text-gray-500">&bull;</span>
									<span class="text-gray-600"></span>
								</div>

								<div class="mb-4">
									<p class="text-gray-700">{{ hwack.content|striptags|markdown }}</p>
								</div>

								{% if hwack.hwackImage is not null  %}
								<div class="relative w-auto mb-2 border rounded-lg relative bg-gray-100 mb-4 shadow-inset overflow-hidden">
									<img src="" alt="Hwack image">
								</div>
								{% endif %}
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>

			<div class="w-2/3 px-4">
				<div class="bg-white rounded-lg shadow mb-8">
					<div class="px-6 py-3 border-b border-gray-200">
						<div class="font-bold text-gray-800">Following</div>
					</div>

					<div></div>
				</div>
				{% if app.user.id == user.id %}

				<div class="bg-white rounded-lg shadow mb-8">
					<div class="px-6 py-3 border-b border-gray-200">
						<div class="font-bold text-gray-800">Who to follow</div>
					</div>

					<div></div>
				</div>
				{% endif %}
			</div>
		</div>
	</div>

	<script>
		new SimpleMDE({element: document.getElementById("hwack_editor")});
	</script>

{% endblock %}
